@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
  
  --color-brand-dark: #0f1115;
  --color-brand-blue: #2563eb;
  --color-brand-purple: #7e22ce;
  --color-brand-light: #f8fafc;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-brand-dark text-slate-300 font-sans antialiased overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}
